CTest*
CPack*
CMakeFiles/
CMakeScripts/
CMakeSettings.json
CMakeUserPresets.json
vcpkg.json
Testing/
cmake/custom.cmake
build/

.vs/
.cmake
.clangd
.cache
.ninja*
*.ninja
*.user.*
*.user

cpp.hint
busuto.pc
cmake_*.cmake
Makefile
CMakeCache.txt
install_manifest.txt
compile_commands.json
coverage.info

core
*.a
*.so
*.so.*
*.idx
*.obj
*.exe
*.dll
*.ilk
*.pdb
*.log
*.gcov
*.tar.gz
*.core
test_*
